name: Terraform EC2 Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
-- name : terraform init
  run: terraform init
  working-directory: ec2-creation-in-stockholm-region

- name: Terraform Plan
  run: terraform plan
  working-directory: ec2-creation-in-stockholm-region

- name: Terraform Apply
  run: terraform apply -auto-approve
  working-directory: ec2-creation-in-stockholm-region

